<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
  <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <script is:inline src="https://unpkg.com/decap-cms@^3.1.9/dist/decap-cms.js"></script>
  <script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
      window.CMS.init();
    });
  </script>
</body>
</html>